@font-face {
    font-family: "PierSans-Bold";
    src: url("../fonts/PierSans-Bold.otf");
}

@font-face {
    font-family: "PierSans-Light";
    src: url("../fonts/PierSans-Light.otf");
}

@font-face {
    font-family: "PierSans-Medium";
    src: url("../fonts/PierSans-Medium.otf");
}

@font-face {
    font-family: "Ubuntu-Medium";
    src: url("../fonts/Ubuntu-M.ttf");
}

@font-face {
    font-family: "DuckSans-Bold";
    src: url("../fonts/DuckSansProduct-Bold.woff2");
}

@font-face {
    font-family: "DuckSans-Medium";
    src: url("../fonts/DuckSansProduct-Medium.woff2");
}

@font-face {
    font-family: "DuckSans-Regular";
    src: url("../fonts/DuckSansProduct-Regular.woff2");
}