/* VARIABLES */

:root {
    --gray1: #171717;
    --gray2: #1F1F1F;
    --gray3: #3F3F46;
    --gray4: #333333;
}

/* CLASES EFECTOS */

.bold {
    font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
}

/* PAGINA */

html, body {
    margin: 0px;
    padding: 0px;
    height: 95%;
    background-color: #171717;
}

* {
    font-family: "DuckSans-Regular";
    color: white;
}

.wrapper {
    display: flex;
    height: 100%;
    margin: 40px;
    margin-top: 0px;
}

.tareasWrapper, .notas, .cronometro {
    border-radius: 10px;
    background-color: #1F1F1F;
}


/* ESTILOS GENERALES */

h1 {
    font-family: "DuckSans-Bold";
    white-space: nowrap; 
}

button {
    cursor: pointer;
}

::selection {
  background-color: rgba(88, 88, 88, 0.5);
}

/* TAREA FOCUSED */

.tareaFocusBackground{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: none; */
}

.wrapperTareaFocused {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.tareaFocused {
    min-width: 300px;
    max-width: 500px;
    background-color: #3F3F46;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.tareaFocused h1 {
    text-align: center;
}

/* SETTINGS */

.settings {
    border: 1px solid pink;
    width: 40%;
    height: 40%;
    border-radius: 10px;
    background-color: var(--gray2);
    border: 2px solid white;
    padding: 40px;
    /* display: none; */
}

.settingsContent {
    /* border: 1px solid pink; */
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.settingsOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settingsOption select {
    background-color: var(--gray3);
    border: none;
    height: fit-content;
    padding: 15px;
    border-radius: 5px;
    appearance: none;
    background-image: url("../svg/dropdown-arrow.svg");
    background-repeat: no-repeat;    
    background-position: calc(100% - 5px) center;
    background-size: 20px;
    padding-right: 30px;
}

.settingsOption select:hover {
    cursor: pointer;
}