.tareasWrapper {
    grid-column: 1;
    padding: 20px;
    width: 400px;
}

.botonesTareas > button {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid #3F3F46;
    font-family: "PierSans-Medium";
}

.tareasWrapper > h1 {
    text-align: center;
}

.añadirTitulo input:focus, #descripcion:focus {
    outline: 2px solid #3F3F46;
}

.tareasWrapper input, .tareasWrapper textarea {
    background-color: transparent;
    height: 4vh;
    width: 70%;
    padding-left: 10px;
    border-radius: 10px;
    border: 2px solid #3F3F46;
}

#descripcion {
    width: 100%;
    height: 4em;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 1em;
    resize: vertical;
    display: none;
}

.crearTarea button {
    width: 4vw;
    height: 4.5vh;
    /* background-color: transparent; */
    border-radius: 10px;
    background-color: #3F3F46;
    border: 2px solid #3F3F46;
    box-sizing: border-box;
}

.crearTarea > p {
    color: #989898;
    margin: 0.5em;
}

.crearTarea > p:hover {
    cursor: pointer;
}

.añadirTitulo {
    display: flex;
    justify-content:space-between;
}

#porHacer {
    background-color: #3F3F46;
}

#completadas {
    background-color: transparent;
}

.botonesTareas img {
    height: 1vh;
}

.tareas {
    margin-top: 20px;
}

.tarea {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.texto:hover {
    cursor: pointer;
}

.texto p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 25ch;
}

.texto h1 {
    font-size: 16px;
}

.completar {
    padding-left: 10px;
    padding-right: 10px;
    height: 4.5vh;
    border-radius: 10px;
    background-color: #3F3F46;
    border: 2px solid #3F3F46;
    margin-left: 20zpx;
}