.changeWidth {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    width: 20px;
    padding: 5px 0px;
}

.line {
    border: 1px solid rgb(85, 85, 85);
    width: 0;
    height: 100%;
    margin: auto;

}

.changeWidth:hover {
    cursor: pointer;
}